<div class="content" *ngIf="!movieDetail" style="margin-top: 150px;">
  <mat-spinner color="red"></mat-spinner>
  Getting movie detail...
</div>

<ng-container *ngIf="movieDetail">
  <div class="title-container">
    <div class="content align-start">
      <h1>{{ movieDetail.title }}</h1>
      <strong>{{ movieDetail.release_date }}</strong>
    </div>
  </div>

  <div class="content movie-detail">
    <mat-card>
      <mat-card-title style="margin-bottom: 30px;">{{ movieDetail.title }}</mat-card-title>
      <mat-card-content>
        <p>Director: {{ movieDetail.director }}</p>
        <p>Producer: {{ movieDetail.producer }}</p>
        <p>{{ movieDetail.opening_crawl }}</p>

        <div class="text-right">
          <a mat-button class="btn-primary" [routerLink]="['/films']">Go Back</a>
        </div>
      </mat-card-content>

    </mat-card>
  </div>
</ng-container>
