h4 {
  margin: 0;
  font-size: 16px;
}

.film-container {
  flex-direction: initial;
  flex-wrap: nowrap;
  background-color: #000;
  border-radius: 5px;
  max-width: 550px;
  border: 1px solid #f6b33d;
  padding: 8px;
  margin-bottom: 15px;

  .thumbnail {
    width: 100px;
    margin: 10px;

    img {
      width: 100%;
      margin-bottom: 15px;
    }
  }

  .description {
    font-size: 14px;
    padding: 10px 10px 25px 10px;
    width: 100%;

    .sinopsis {
      height: 30px;
      overflow: hidden;
      position: relative;
      word-wrap: unset;
      text-align: justify;

      &:after {
        content: '...';
        position: absolute;
        bottom: 0;
        right: 0;
        background-color: #000;
        padding: 0 15px 0 7px;
      }
    }
  }
}
