<div class="title-container">
  <div class="content align-start">
    <h1>StarWars Movies</h1>
  </div>
</div>

<div class="content" *ngIf="!list" style="padding-top: 50px;">
  <mat-spinner color="red"></mat-spinner>
  Getting list...
</div>

<div class="content align-start film-container" *ngFor="let item of list">
  <div class="thumbnail">
    <img src="https://cdn4.iconfinder.com/data/icons/movies-1-ultra-color/60/010_-_Camera_Play-512.png" alt="">
    <a [routerLink]="['/films', getMovieID(item.url)]" mat-button class="btn-primary btn-sm btn-block">Detail</a>
  </div>

  <div class="description">
    <h4>{{ item.title }}</h4>
    <p>Director: <strong>{{ item.director }}</strong></p>
    <p>Producer: <strong>{{ item.producer }}</strong></p>
    <p>Release Date: <strong>{{ item.release_date }}</strong></p>

    <div class="sinopsis">
      {{ item.opening_crawl }}
    </div>
  </div>
</div>
