<div class="toolbar" role="banner">
  <img
    width="100"
    alt="Angular Logo"
    src="https://mir-s3-cdn-cf.behance.net/project_modules/max_1200/7b3deb32212593.5673bfaabefb9.png"
  />
  <a mat-button [routerLink]="['/films']">Films</a>
  <a mat-button [routerLink]="['/peoples']">Peoples</a>
</div>

<router-outlet></router-outlet>
