.people-container {
  flex-direction: initial;
  background-color: #000;
  border-radius: 5px;
  border: 1px solid #f6b33d;
  padding: 8px;
  max-width: 500px;
  margin-bottom: 15px;
  flex-wrap: nowrap;

  .thumbnail {
    width: 150px;
    margin: 10px;

    img {
      width: 100%;
      margin-bottom: 15px;
    }
  }

  .description {
    font-size: 14px;
    padding: 0 10px 25px 10px;
    width: 100%;
  }
}

.pagination {
  max-width: 517px;
  align-items: flex-end;

  .mat-paginator {
    width: 100%;
    color: #FFF !important;
    background: #000000 !important;
    border: 1px solid #f6b33d !important;
    border-radius: 5px;
  }
}
