<div class="title-container">
  <div class="content align-start">
    <h1>StarWars Actors</h1>
  </div>
</div>

<div class="content" *ngIf="!list" style="padding-top: 50px;">
  <mat-spinner color="red"></mat-spinner>
  Getting actor list...
</div>

<ng-container>
  <div class="content align-start people-container" *ngFor="let people of list">
    <div class="thumbnail">
      <img src="https://i.pinimg.com/474x/7d/52/13/7d5213b3d197d0e6d783fc0751d736db.jpg" alt="">
      <a [routerLink]="['/peoples', getPeopleID(people.url)]" mat-button class="btn-primary btn-sm btn-block">Detail</a>
    </div>

    <div class="description">
      <h4>{{ people.name }}</h4>
      <p>Gender: <strong>{{ people.gender }}</strong></p>
      <p>Height: <strong>{{ people.height }}</strong></p>
      <p>Hair Color: <strong>{{ people.hair_color }}</strong></p>
      <p>Birth Year: <strong>{{ people.birth_year }}</strong></p>
    </div>
  </div>

  <div class="content align-start pagination" *ngIf="list?.length > 0">
    <mat-paginator
      [length]="paginationConfig?.count"
      [pageIndex]="currentPageIndex"
      (page)="onChangePage($event)"
      [pageSize]="list?.length"></mat-paginator>
  </div>
</ng-container>
