// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import "~@angular/material/theming";
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$starwars-primary: mat-palette($mat-indigo);
$starwars-accent: mat-palette($mat-pink, A200, A100, A400);

// The warn palette is optional (defaults to red).
$starwars-warn: mat-palette($mat-red);

// Create the theme object (a Sass map containing all of the palettes).
$starwars-theme: mat-light-theme($starwars-primary, $starwars-accent, $starwars-warn);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($starwars-theme);

/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}

html {
  background: url(https://us.123rf.com/450wm/ikonstudio/ikonstudio1502/ikonstudio150200002/36570595-realistic-seamless-vector-image-of-the-night-sky-with-stars-and-galaxies-.jpg?ver=6);
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  color: #fff;
}

.toolbar {
  height: 75px;
  margin: -8px 0;
  display: flex;
  align-items: center;
  background-color: #1c1e22;
  font-weight: 600;

  img {
    margin: 0 16px;
  }
}

.content {
  display: flex;
  margin: 32px auto;
  padding: 0 16px;
  max-width: 960px;
  flex-direction: column;
  align-items: center;
}

.align-start {
  align-items: flex-start;
}

.title-container {
  padding: 20px;
  background-color: #f6b33c;
}

.btn {
  &-primary {
    background-color: #f6b33c;
    color: #1c1e22;
  }

  &-sm {
    line-height: 30px !important;
  }

  &-block {
    display: block !important;
  }
}

.mat-spinner {
  margin-bottom: 15px;
}
.mat-progress-spinner circle,
.mat-spinner circle {
  stroke: #f6b33c;
}

.mat-card {
  background: #010916;
  color: rgb(255, 255, 255);
  border: 1px solid #f6b33d;
}

.text-right {
  text-align: right;
}
